
// colors

$color-primary: #6A33F8;
$color-primary-dark:#301E5F;
$color-secondary:#F8F8F8;
$color-secondary-dark:#B9B9B9;
$color-gray: #797979;
$color-dark: #000000;
$color-light: #FFFFFF;
$color-alert: #C72424;

// font-weight
$fw-light: 300;
$fw-normal: 400;
$fw-Medium: 500;
$fw-bold: 700;

// font-size
$fs-h1: 3.2rem;
$fs-h2: 2.8rem;
$fs-h3: 2rem;

$fs-base: 1.6rem;
$fs-sm: 1.4rem;
$fs-lg: 2.4rem;

// spacing
$container-width: 1110px;